# Core FastAPI and web framework
fastapi
uvicorn[standard]
python-multipart

# Database
sqlalchemy
alembic

psycopg2-binary

# AI Services
google-generativeai

#gcp
google-cloud-sql-connector
google-cloud-storage
google-cloud-logging

# Speech Recognition
SpeechRecognition
pydub
pyaudio

# Data processing
pydantic
python-jose[cryptography]

# Development utilities
python-dotenv

reportlab
Pillow


gTTS
python-dotenv
gunicorn
structlog